<div class="container">
    <div class="card">
        <h4 class="card-header mb-0"> Ingredients </h4>
        <div class="card-body px-4 py-3">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <div class="d-flex justify-content-center mb-1">
                        <button class="form-control" (click)="foodPickup()"  id="pickFoodBtn">Select a food</button>
                    </div>
                    <input type="text" class="form-control" #pickFood formControlName="foodId" id="foodId" style="display: none;">
                    <input type="text" class="form-control" #pickFoodname readonly>
                </div>


                <div class="form-group">
                    <label for="materialName" class="formLable"> Ingredient Name </label>
                    <input type="text" class="form-control" #matname formControlName="materialName" id="materialName">
                </div>

                <div class="form-group">
                    <label for="amount" class="formLable"> Amount </label>
                    <input type="text" class="form-control" #amountel formControlName="amount" id="amount">
                </div>

                <div class="form-group">
                    <p class="formLable">Unit</p>
                    <select class="form-control" #unit formControlName="unit">
                        <option value=""></option>
                        <option *ngFor="let unit of Units" [ngValue]="unit">
                            {{ unit }}
                        </option>
                    </select>                
                </div>

                <div class="form-group">
                    <label for="price"> Price </label>
                    <input type="text" class="form-control" #priceel formControlName="price" id="price">
                </div>

                <button type="submit" class="btn btn-save">
                    <span class="mb-2">Save</span>
                </button>

            </form>
        </div>
    </div>
</div>


<ng-template #tpl>
    <div class="modal-card">
    <header class="modal-card-head">
      …
    </header>
    <section class="modal-card-body">
      …
    </section>
    <footer class="modal-card-foot">
      …
    </footer>
   </div>
</ng-template>