<div class="contaner mt-3">
    <div class="row">
        <div class="card m-auto">
            <h4 class="card-header p-0" #titleIng> Please add a food </h4>
            <div class="card-body p-10">
                <form [formGroup]="foodForm" (ngSubmit)="onSubmit()" class="d-md-flex align-items-center">
    
                    <div class="form-group mr-1">
                        <label for="foodName"> Food Name </label>
                        <input type="text" class="form-control" #foodname formControlName="name" id="foodName">
                    </div>
    
                    <div class="form-group mr-1">
                        <label for="foodprice"> Price </label>
                        <input type="text" class="form-control" #foodprice formControlName="price" id="foodprice">
                    </div>
    
                    <div class="form-group mr-1">
                        <label for="foodDesc"> Decription </label>
                        <input type="text" class="form-control" #foodDesc formControlName="description" id="foodDesc">
                    </div>
    
                    <div class="form-group mr-1">
                        <p class="pcat">Category</p>
                        <select class="form-control" #foodCategory formControlName="category">
                            <option value=""></option>
                            <option *ngFor="let foodCategory of foodCat" [ngValue]="foodCategory">
                                {{ foodCategory }}
                            </option>
                        </select>                
                    </div>
    
                    <button type="submit" class="btn btn-primary mr-2 savebtn">
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="contaner-fluid mt-3">
    <div class="row">
        <div class="w-180 m-auto">
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Pizza" #input>
              </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" class="mymat m-auto" matSort (matSortChange)="announceSortChange($event)">
                    <ng-container matColumnDef="name" >
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name. </th>
                        <td mat-cell *matCellDef="let element" > {{element.name}} </td>
                    </ng-container>        
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price"> Price. </th>
                        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                    </ng-container>        
                    <ng-container matColumnDef="description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description"> Description. </th>
                        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container>        
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by category"> Category. </th>
                        <td mat-cell *matCellDef="let element"> {{foodCat[element.category-1]}} </td>
                    </ng-container>           
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef>Edit</th>
                        <td mat-cell *matCellDef="let element">
                          <span
                            class="material-icons"
                            style="cursor: pointer"
                            (click)="editClick(element, titleIng)"
                          >
                            edit
                          </span>
                          
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef>Delete</th>
                        <td mat-cell *matCellDef="let element">
                          <span
                            class="material-icons"
                            style="cursor: pointer"
                            (click)="openDeleteDialog(element)"
                          >
                            delete
                          </span>
                          
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="rowrow"></tr>   
                    
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                </table>
                <mat-paginator [pageSizeOptions]="[2, 5, 10, 20]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
    </div>
</div>

<!-- 
<input type="text"
       cdkOverlayOrigin
       #originOverlay="cdkOverlayOrigin"
       (focus)="isOpen = true"
       (blur)="isOpen = false"
/>

<ng-template cdkConnectedOverlay
             [cdkConnectedOverlayOrigin]="originOverlay"
             [cdkConnectedOverlayOpen]="isOpen"
>
  <div>This is my tooltip</div>
</ng-template>
   -->