<div class="container mt-3">
    <div class="card">
        <h4 class="card-header">Reset password</h4>
        <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="passwordSecond">New password</label>
                    <input type="password" class="form-control" formControlName="passwordFirst" id="passwordFirst">
                </div>
                <div class="form-group">
                    <label for="passwordFirst">Repeat password</label>
                    <input type="password" class="form-control" formControlName="passwordSecond" id="passwordSecond">
                </div>
                <button type="submit" class="btn btn-primary mr-2">
                    Change password
                </button>
                <br>
                <br>
                <p class="CanLogin"> {{infoOut}} </p>
            </form>
        </div>
    </div>
</div>