.card-header {
    text-align: center;
}

.dataTable{
  color: #F2F2F2;
}

.user-edit{
    display: none;
}
.edit-hide {
    display: none;
}
.edit-show {
  display: block;
}
table {
  background-color: #F2F2F2;
}