<div class="container mt-4 d-flex justify-content-center">
    <div class="card">
        <h4 class="card-header">Login</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="email" class="d-flex">Username</label>
                    <input type="text" class="form-control" formControlName="email" id="email">
                </div>
                <div class="form-group">
                    <label for="password" class="d-flex">Password</label>
                    <input type="password" class="form-control" formControlName="password" id="password">
                </div>
                <div class="d-flex align-items-center">
                    <button type="submit" class="btn btn-primary">
                        Sign In
                    </button>
                    <div class="mx-auto comment">
                        <b>{{comment}}</b>
                    </div>
                    <a routerLink="/register" class="btn btn-success">Register</a>
                </div>

                <div class="container p-0">
                    <div class="row mt-2" style="height: 20px;">
                        <p class="CanLogin"> {{canLogin}}</p> 
                    </div>
                    <div class="row justify-content-center">
                        <a routerLink="/resetpassword" class="forget">Forget password?</a>   
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- <div>
    <button (click)="testClick()">test button</button>
</div> -->