/*************
    Navbar
**************/
.main-nav {
    padding-left: 10px;
}
.main-nav li {
    margin-right: 1px;
}
.main-nav a {
    font-size: 12px;
    display: flex;
    justify-content: center;
}
.button {
    background: rgba(45, 45, 45, 0.9);
    border: solid 2px #261c66;
    border-radius: 5px;
    box-shadow:5px 5px 0 rgba(10, 5, 32, 0.5);
    display:inline-block;
    padding:.5em 2em;
    text-decoration:none;
    margin-right: 1px;
    width: 125px;
}
  
.button:hover {
    background: rgb(0, 0, 0, 0.7);
    border: solid 1px #ff8316;
    box-shadow:5px 5px 0 rgba(255, 140, 17, 0.3);
}
.parallelogram {
    transform: skew(-20deg);
}
.skew-fix {
    display:inline-block;
    transform: skew(20deg);
}

/***************
    HERO BOX
***************/

.hero-text-box {
    position: absolute;
    top: 45%;
    left: 10%;
}
  
.hero-text-box h1 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-size: 200%;
    margin-bottom: 10px;
}
.hero-text-box a {
    font-size: 17px;
}

/*************
    Overlay
**************/
app-overlay {
    display: none;
}
  
.overlay-hide {
    display: none;
}
.overlay-show {
    display: block;
}

/*************
    BUTTON
**************/
#order-button.btn:link,
#order-button.btn:visited,
#reserve-button.btn:link,
#reserve-button.btn:visited {
    display: inline-block;
    text-decoration: none;
    font-weight: 300;
    border-radius: 10px;
    transform: skew(-20deg);
    padding: 15px 30px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

#order-button:link,
#order-button:visited {
    background-color: #d47420;
    border: 1px solid #533de1;
}

#order-button:hover,
#order-button:active {
    background-color: #ff8316;
    border: 1px solid #ff8316;
}

#reserve-button:link,
#reserve-button:visited {
    background-color: #533de1;
    border: 1px solid #e67e23;
}

#reserve-button:hover,
#reserve-button:active {
    background-color: #624aff;
    border: 1px solid #624aff;
}

.btn {
    color: #fff;
}
  