<header>
    <nav>
      <div class="row">
        <ul class="main-nav mt-2">
          <li><a routerLink="">Home</a></li>
          <li><a *ngIf="detNo > 3" routerLink="/foods" (click)="showOverlay()">Foods</a></li>
          <li><a *ngIf="detNo > 4" routerLink="/users" (click)="showOverlay()">Users</a></li>
          <li><a routerLink="/login" (click)="showOverlay()">Login</a></li>
          <li><a *ngIf="detNo > 3" routerLink="/takeawaystuff" (click)="showOverlay()">Takeaway stuff</a></li>
          <li><a *ngIf="detNo > 3" routerLink="/ingredients" (click)="showOverlay()">Ingredients</a></li>
          <li><a *ngIf="detNo > -1" routerLink="/order" (click)="showOverlay()">Menu</a></li>
          <li><a *ngIf="detNo > 1" routerLink="/changeOrderToReady" (click)="showOverlay()">Orders to ready</a></li>
          <li><a *ngIf="detNo > 1" routerLink="/settellOrder" (click)="showOverlay()">Settell Order</a></li>
          <li><a *ngIf="detNo > 1" routerLink="/changeOrderToTakeaway" (click)="showOverlay()">Orders to Deliver</a></li>
        </ul>
      </div>
    </nav>
     <router-outlet></router-outlet>
  </header>
  
  <div class="hero-text-box">
    <h1>Welcome to our restaurant.</h1>
    <h1>We make the difference.</h1>
    <a routerLink="/order" class="btn btn-full mr-2 mt-2" id="order-button" (click)="showOverlay()">MENU & Order</a>
    <a href="#" class="btn btn-full mt-2" id="reserve-button">Table Reservation</a>
  </div>


  <app-overlay [ngClass]="overlayStyle">
    <router-outlet></router-outlet>
  </app-overlay>
  

