<header>
    <nav>
      <div class="row">
        <ul class="main-nav">
          <li><a routerLink="">Home</a></li>
          <li><a *ngIf="detNo > 3" class="ank" routerLink="/foods">foods</a></li>
          <li><a *ngIf="detNo > 4" class="ank" routerLink="/users">users</a></li>
          <li><a class="ank" routerLink="/login">Login</a></li>
          <li><a *ngIf="detNo > 3" class="ank" routerLink="/takeawaystuff">Takeaway stuff</a></li>
          <li><a *ngIf="detNo > 3" class="ank" routerLink="/ingredients">Ingredients</a></li>
          <li><a *ngIf="detNo > -1" class="ank" routerLink="/order">Orders</a></li>
          <li><a *ngIf="detNo > 1" class="ank" routerLink="/changeOrderToReady">Set orders to ready</a></li>
          <li><a *ngIf="detNo > 1" class="ank" routerLink="/changeOrderToTakeaway">Set orders to Deliver</a></li>
        </ul>
      </div>
    </nav>
    <router-outlet></router-outlet>
  </header>
  
  <!-- <div class="hero-text-box">
    <h1>Welcome to our restaurant. <br> We make the difference. </h1>
    <a routerLink="/order" class="btn btn-full" id="order-button" (click)="showOverlay()">MENU & Order</a>
    <a href="#" class="btn btn-full" id="reserve-button">Table Reservation</a>
  </div> -->


  <!-- <app-overlay [ngClass]="overlayStyle"></app-overlay> -->
  

<!-- <nav>
    <br>
    <a *ngIf="detNo > 3" class="ank" routerLink="/foods">foods</a>
    <a *ngIf="detNo > 4" class="ank" routerLink="/users">users</a>
    <a *ngIf="detNo > 3" class="ank" routerLink="/takeawaystuff">Takeaway stuff</a>
    <a class="ank" routerLink="/login">Login</a>
    <a *ngIf="detNo > 3" class="ank" routerLink="/ingredients">Ingredients</a>
    <a *ngIf="detNo > -1" class="ank" routerLink="/order">Orders</a>
    <a *ngIf="detNo > 1" class="ank" routerLink="/changeOrderToReady">Set orders to ready</a>
    <a *ngIf="detNo > 1" class="ank" routerLink="/changeOrderToTakeaway">Set orders to Deliver</a>
</nav> -->
<!-- <router-outlet></router-outlet> -->
