<div *ngIf="isLoading" class="openModal">
</div>

<br>
<div class="container">
    <div class="demo-section" >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-7 ml-3 " >
                    <p class="totalprice">Total Price :<span class="ml-4">{{totalPrice}}</span>   HUF</p>
                </div>
                <!-- <div class="col ml-5">
                    <span class="material-symbols-outlined sohppingcart mb-3" matBadge="{{totalOrder}}" [matBadgeHidden]="showBadge"  matBadgeOverlap="true" matBadgeSize="small"  matBadgePosition="after" matBadgeColor="accent" (click)="checkOut()">
                        shopping_cart
                    </span>
                </div> -->
            </div>
        </div>
    </div>
</div>



<h3 class="text txttitle">Food</h3>

<div class="container d-flex align-items-center justify-content-center mat-elevation-z8 mymat">
    
    <div class="row">
        <div class="col">
            <table mat-table [dataSource]="dataSource" >
                <ng-container matColumnDef="food"  >
                    <th mat-header-cell *matHeaderCellDef > Food name. </th>
                    <td mat-cell *matCellDef="let element" > {{element.name}} </td>
                </ng-container>        
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price. </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>        
                <ng-container matColumnDef="qty" style="background-color: celColor;">
                    <th mat-header-cell *matHeaderCellDef > Qty. </th>
                    <td mat-cell #aaaaa *matCellDef="let element"> {{element.qty}} </td>
                </ng-container>        
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description. </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>        
                <ng-container matColumnDef="order">
                    <th mat-header-cell *matHeaderCellDef>Add</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="material-symbols-outlined" id="add_circle"
                            style="cursor: pointer" (click) = "clickColumn(element, $event)">
                            add_circle
                        </span>                     
                    </td>
                </ng-container>
                <ng-container matColumnDef="cancle">
                    <th mat-header-cell *matHeaderCellDef>Remove</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="material-symbols-outlined" id="remove_circle"
                            style="cursor: pointer" (click) = "clickCancel(element, $event)">
                            do_not_disturb_on
                        </span>                     
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>        
            </table>
        </div>
    </div>
</div>
<br>
<br>
<h3 class="text txttitle">Pizza</h3>

<div class="container d-flex align-items-center justify-content-center mat-elevation-z8 mymat">
    
    <div class="row">
        <div class="col">
            <table mat-table [dataSource]="dataSource1" #foodTable >
                <ng-container matColumnDef="food"  >
                    <th mat-header-cell *matHeaderCellDef > Food name. </th>
                    <td mat-cell *matCellDef="let element" > {{element.name}} </td>
                </ng-container>        
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price. </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>        
                <ng-container matColumnDef="qty" style="background-color: celColor;">
                    <th mat-header-cell *matHeaderCellDef > Qty. </th>
                    <td mat-cell #aaaaa *matCellDef="let element"> {{element.qty}} </td>
                </ng-container>        
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description. </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>        
                <ng-container matColumnDef="order">
                    <th mat-header-cell *matHeaderCellDef>Add</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="material-symbols-outlined" id="add_circle"
                            style="cursor: pointer" (click) = "clickColumn(element, $event)">
                            add_circle
                        </span>                     
                    </td>
                </ng-container>
                <ng-container matColumnDef="cancle">
                    <th mat-header-cell *matHeaderCellDef>Remove</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="material-symbols-outlined" id="remove_circle"
                            style="cursor: pointer" (click) = "clickCancel(element, $event)">
                            do_not_disturb_on
                        </span>                     
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>        
            </table>
        </div>
    </div>
</div>

<br>
<br>
<h3 class="text txttitle">Drink</h3>

<div class="container d-flex align-items-center justify-content-center mat-elevation-z8 mymat">
    
    <div class="row">
        <div class="col">
            <table mat-table [dataSource]="dataSource2" #foodTable >
                <ng-container matColumnDef="food"  >
                    <th mat-header-cell *matHeaderCellDef > Food name. </th>
                    <td mat-cell *matCellDef="let element" > {{element.name}} </td>
                </ng-container>        
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price. </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>        
                <ng-container matColumnDef="qty" style="background-color: celColor;">
                    <th mat-header-cell *matHeaderCellDef > Qty. </th>
                    <td mat-cell #aaaaa *matCellDef="let element"> {{element.qty}} </td>
                </ng-container>        
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef> Description. </th>
                    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>        
                <ng-container matColumnDef="order">
                    <th mat-header-cell *matHeaderCellDef>Add</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="material-symbols-outlined" id="add_circle"
                            style="cursor: pointer" (click) = "clickColumn(element, $event)">
                            add_circle
                        </span>                     
                    </td>
                </ng-container>
                <ng-container matColumnDef="cancle">
                    <th mat-header-cell *matHeaderCellDef>Remove</th>
                    <td mat-cell *matCellDef="let element">
                        <span class="material-symbols-outlined" id="remove_circle"
                            style="cursor: pointer" (click) = "clickCancel(element, $event)">
                            do_not_disturb_on
                        </span>                     
                    </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>        
            </table>
        </div>
    </div>
</div>

<div class="container d-flex align-items-center justify-content-center mt-4   ">
    <div class="row mat-elevation-z8 tsdiv">
        <div class="col-4" >
            <p>Takeaway</p>
        </div>
        <div class="col-3 mt-2 mr-4">
            <select name="tsSel" id="tsSelect" #selectList (change)="clickOption(selectList.value)" >
                <option value="null" >    </option>
                <option  *ngFor="let ts of tsDataSource" [ngValue]="ts.id"  >
                    {{ ts.description }} 
                </option>                
            </select>
        </div>
        <div class="col-1 mt-2">
            <label for="qty"> Qty </label>
        </div>  
        <div class="col-3 mt-1">
            <input type="number"  #qty  id="qty" min="0" max="1000" value="0" size="6" (input)="onSearchChange($event)">
        </div>
    </div>
</div>
<!-- <div class="container d-flex align-items-center justify-content-center mt-3 mat-elevation-z8 mymatcheck">
    <div class="row">
        <div class="col">
            <button class="btn bg-success mb-2 mt-2 checkout" (click)="checkOut()">
                Checkout
            </button>    
        </div>
    </div>
</div> -->
<br>
