/* The Overlay (background) */
.overlay {
    height: 80%;
    width: 95%;
    position: fixed;
    z-index: 2;
    left: 2%;
    top: 11%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.7);
    overflow-x: hidden; /* No horizontal scroll */
    transition: 0.5s;
    border-radius: 10px;
}
  
/* The content inside the overlay */
.overlay-content {
color: rgb(12, 12, 12);
position: relative;
top: 15%;
width: 100%;
text-align: center;
margin-top: 10px;
}

nav.navbar {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    top: 11%;
    max-width: 78.9%;
    width: 100%;
    background-color: rgba(0,0,0, 0.8);;
}
  
/* The navigation links inside the overlay */
.overlay a {
text-decoration: none;
}
.nav-link {
    padding: 8px;
    font-size: 36px;
    color: #818181;
    display: block; /* Instead of inline */
    transition: 0.3s; /* On hover (color) */
}
.overlay a:hover, .overlay a:focus {
color: #f1f1f1;
}

/* Position of the close button */
.overlay .closebtn {
position: fixed;
padding: 6px;
z-index: 1;
top: 5.5%;
right: 11.8%;
font-size: 16px;
background-color: rgba(0,0,0, 0.7);
color: #d8dbc8;
}
.overlay .closebtn:hover{
    color: #fff;
    /* font-size: 17px; */
}
  
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position of the close button*/
@media screen and (max-width: 768px) {
    nav.navbar {
        max-width: 78.7%;
    }
    .overlay {
        height: 80%;
        width: 100%;
        left: 0;
    }
    .overlay .closebtn {
        font-size: 14px;
        color: rgb(189, 219, 159);
        right: 12.5%;
        top: 5%;
    }
}
@media screen and (max-width: 992px) {
    nav.navbar {
        max-width: 78.2%;
    }
}
  
nav div.navbar-collapse {
line-height: 2;
}
.main-nav ul li:hover,li:active{
    border: 1px solid #f1f1f1;
    transition: 0.1s; 
}
.main-nav ul li {
        border: solid 1px #818181;
        width: 50px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
}
.main-nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    padding: 7px 0;
    transition: 0.3s;
}
.mat-icon{
    font-size: 14px;
}
.fa-cart-shopping{
    background: red;
    position: relative;
    top: 15px;
    right: 5px;
    vertical-align: top;
}
.icon{
font-size: 20px;
}
.badge-notify{
background:red;
position:relative;
top: -8px;
left: -4px;
}
