/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';

/**************
    MAIN
**************/
/* html, 
body { 
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
 } */

/**************
    HEADER
**************/

/* header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
      url('src/assets/images/header01.webp');
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

/**************
    MAIN
**************/

html,
body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #555;
  font-weight: 300;
  font-size: 18px;
}

/**************
    HEADER
**************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)),
    url('src/assets/images/header01.webp');
  height: 100vh;
  background-position: center;
  background-size: cover;
}

div.row {
  margin: 0 auto;
  max-width: 1140px;
}

ul.main-nav {
  list-style: none;
  float: right;
}

ul.main-nav li {
  display: inline-block;
  margin-right: 20px;
  text-transform: uppercase;
}

ul.main-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  padding: 7px 0;
  transition: 0.3s;
}

ul.main-nav li a:hover,
ul.main-nav li a:active {
  border-bottom: 2px solid #e67e23;
  transition: 0.3s;
}


/***************
    HERO BOX
***************/

div.hero-text-box {
  position: absolute;
  top: 50%;
  left: 10%;
}

h1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 900;
  word-spacing: 4px;
  letter-spacing: 1px;
  font-size: 250%;
}



/* @media screen and (min-width: 480px) {
  h1 {
    font-size: 250%;
  }
} */

/* Be careful! Opposite of min-width */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 200%;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/***************
    TOOLTIP
***************/
/* // .tooltip{
//   font-size: 14px;
//   background-color: red;
// } */
